@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Homemade+Apple&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway+Dots&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
}

body {
    /* background-color: #d3bca0; */
    background-color: rgba(0, 0, 0, 0.74);
}
.error {
    margin: 5px;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: large;
    font-style: italic;
    color: rgba(219, 114, 114, 0.842);
}

/* WELCOME */
.shadowWelcome {
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.651);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeLogo {
    font-family: "Homemade Apple", cursive;
    color: white;
    font-size: 80px;
    opacity: 0.4;
}

.welcomeBackground {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.beautyProviderLink {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: large;
    font-style: italic;
    color: rgba(211, 211, 211, 0.534);
}
.beautyProviderLink strong {
    cursor: pointer;
}

/* CLIENT LOGIN REGISTRATION  */
.welcomeForm {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.welcomeFormInputBox {
    margin: 15px;
    width: 310px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 20px;
}

.welcomeFormInputBox img {
    margin: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
}
.welcomeFormInputBox input {
    background-color: transparent;
    border: transparent;
    color: whitesmoke;
    font-size: large;
}

.welcomeRadioBox {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: larger;
    color: rgba(211, 211, 211, 0.534);
}

.welcomeRadioBox input {
    background-color: rgba(255, 255, 255, 0.541);
    border: rgba(255, 255, 255, 0.384) 1px solid;
}

.welcomeFormBtn {
    margin: 15px 15px 0px 15px;
    width: 310px;
    height: 45px;
    text-align: center;
    color: rgba(179, 176, 176, 0.445);
    font-size: large;
    background-color: rgba(0, 0, 0, 0.418);
    border: transparent;
    border-radius: 20px;
    box-shadow: rgba(179, 176, 176, 0.445) 2px 2px 4px;
}

.welcomeLinks {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Barlow Condensed", sans-serif;
    font-size: larger;
    color: rgba(211, 211, 211, 0.534);
}

.welcomeLinks p {
    cursor: pointer;
}
.welcomeLinksLogin {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: larger;
    color: rgba(211, 211, 211, 0.534);
}
.welcomeLinksLogin p {
    cursor: pointer;
}

/* CLIENT APP */

.clientApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientAppHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: absolute;
    top: 0;
    right: 0; */
}

.appLogo {
    font-family: "Homemade Apple", cursive;
    color: white;
    font-size: 50px;
    opacity: 0.4;
    margin: 20px;
    text-shadow: #dd4991 2px 2px 4px;
}

.logoutIcon {
    margin: 20px;
    width: 35px;
    height: 35px;
    opacity: 0.4;
}

/* SEARCH RESULTS */

.clientSearch {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: flex-start;
}

.clientSearchTitle {
    margin: 0;
    text-align: center;
    font-family: "Raleway Dots", cursive;
    color: #dd4991;
    font-size: 67px;
    font-weight: 400;
    text-shadow: black 2px 2px 4px;
}

.barSearchAndResults {
    max-width: 55vw;
    margin: 0 15px;
}

.clientSearchResults {
    max-width: 52vw;
    margin: 10px;
}

.eachReasult {
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    box-shadow: black 2px 2px 4px;
}

.eachResultName {
    padding: 20px 0 0px 20px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bolder;
    color: #dd4991c2;
    text-shadow: black 2px 2px 4px;
    font-size: 40px;
    margin: 0;
}

.eachResultAddress {
    font-family: "Barlow Condensed", sans-serif;
    padding: 0 0 0 20px;
    margin: 0;
    color: #ff85aaa2;
    font-size: large;
}

.eachServiceData {
    padding: 2px 40px 2px 40px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #dd49916c;
    border-radius: 10px;
}

.eachServiceData p {
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.575);
}

.resultsTimeSlots {
    margin: 10px;
    background-color: #dd49911f;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    transform: rotateX(180deg);
}

.resultsTimeSlots p {
    font-family: "Raleway", sans-serif;
    margin: 5px 10px 10px 0;
    transform: rotateX(180deg);
}

.resultsTimeSlots::-webkit-scrollbar {
    width: 12px;
    /* border-radius: 5px; */
}
.resultsTimeSlots::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.068);
    border-radius: 5px;
}
.resultsTimeSlots::-webkit-scrollbar-thumb {
    background-color: #dd49916c;
    border: 1px dashed rgba(0, 0, 0, 0.486);
    border-radius: 5px;
}

.searchResultLink {
    text-align: end;
    padding: 10px;
    font-family: "Barlow Condensed", sans-serif;
    color: #dd49919d;
    font-size: larger;
    box-shadow: #dd4991 2px 2px 4px;
    border-radius: 5px;
    cursor: pointer;
}

/* LOCATION SEARCH */

.locationSearch {
    margin: 10px;
}

.addressQueryInputBox {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: black 2px 2px 4px;
    border-radius: 5px;
    width: 500px;
    height: 45px;
}

.addressQueryInputBox img {
    margin-left: 15px;
    width: 25px;
    height: 25px;
    opacity: 0.4;
}

.addressQueryInputBox input {
    width: 450px;
    height: 35px;
    background-color: transparent;
    border: 0px transparent;
    color: white;
}

.addressQueryBtn {
    width: 80px;
    height: 45px;
    text-align: center;
    color: rgba(233, 232, 232, 0.445);
    font-size: medium;
    font-family: "Barlow Condensed", sans-serif;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

.searchResultsBox {
    z-index: 2;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 500px;
    height: fit-content;
    position: absolute;
}

.searchResult {
    margin: 10px;
    display: flex;
    align-items: center;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: lighter;
    color: black;
}

.searchResult p {
    margin: 0 8px;
}

.searchResult.highlight {
    background-color: rgba(0, 0, 0, 0.541);
    color: rgba(255, 255, 255, 0.76);
    box-shadow: rgba(0, 0, 0, 0.74) 2px 2px 4px;
}

.mapboxgl-map {
    border-radius: 5px;
    box-shadow: black 2px 2px 4px;
    margin: 5px;
}

.mapMarkerBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.mapMarkerBtn img {
    width: 30px;
    height: 30px;
}

/* FILTER BAR  */

.filterBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
}

.filterBarSliderTypography {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.582);
    margin: 0 10px 10px 0;
}

.filterBarSlider {
    margin: 5px 15px 5px 15px;
}

.filterBar button {
    margin: 10px;
    width: 120px;
    height: 45px;
    text-align: center;
    color: rgba(233, 232, 232, 0.445);
    font-size: medium;
    font-family: "Barlow Condensed", sans-serif;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

.filterBarName {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: black 2px 2px 4px;
    border-radius: 5px;
    width: 230px;
    height: 45px;
}

.filterBarName img {
    margin-left: 5px;
    width: 32px;
    height: 25px;
    opacity: 0.5;
}

.filterBarName input {
    width: 165px;
    height: 35px;
    background-color: transparent;
    border: 0px transparent;
    color: white;
}

.filterBarDate {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: black 2px 2px 4px;
    border-radius: 5px;
    width: 130px;
    height: 45px;
}

.filterBarDate input {
    width: 128px;
    height: 35px;
    background-color: transparent;
    border: 0px transparent;
    color: rgba(255, 255, 255, 0.473);
    font-family: "Quattrocento Sans", sans-serif;
}

.filterBarCategories {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: black 2px 2px 4px;
    border-radius: 5px;
    width: 110px;
    height: 45px;
}

.filterBarCategories select {
    width: 108px;
    height: 35px;
    background-color: transparent;
    border: 0px transparent;
    color: rgba(255, 255, 255, 0.473);
    font-family: "Quattrocento Sans", sans-serif;
}
